/* Enter your custom styles here */
.clProduct{
    max-width: 50vw !important;
}
.VBoxWidth{
    margin-left:1rem !important;
}

.VBoxWidth1{
    margin-left:1rem !important;
}

/* .boldText{
        margin-left:450px !important;
    } */

.sapUxAPObjectPageContainerNoBar>.sapUxAPObjectPageSection:first-child:not(.sapUxAPObjectPageSectionNoTitle){
    margin-top:-1rem !important;
}
.rejectbtn{
    margin-left:1rem !important;
}

.locClass{
    margin-left:1rem !important;
}